<!--simple form for reward line items -->
<!--line items have -->
<!--name-->
<!--percentage-->
<!--amount-->
<!--or indulgence name-->
<!--redeemed boolean-->

<%= simple_form_for @reward, url: "/rewards?id=#{@goal.id}" do |f| %>
  <%= f.input :title %>
  <div class="form-row pt-5 ml-3">
    <%= f.simple_fields_for :reward_items do |ri| %>
      <div class="col-4">
        <%= ri.input :title, label: "Name your reward" %>
      </div>
      <div class="col-4">
        <%= ri.input :amount, label: "Splurge $$ (optional)" %>
      </div>
      <div class="col-4">
        <%= ri.input :milestone, input_html: {value: ri.object.milestone || '10'}, label: '% of Goal Reached' %>
      </div>
    <% end %>
  </div>
  <%= f.submit "Add Reward", class:"btn btn-primary col-auto" %>
<% end %>


