<div class="container-fluid">
  <h1 class="ml-5"><%= @goal.title %>      <%= @goal.amount %></h1>
  <h5 class="ml-5">Total saved: <%= @transactions_count %></h5>
  <% if user_signed_in? %>
    <% if can?(:edit, @goal) %>
      <p>
        <%= link_to 'Edit', edit_goal_path(@goal) %>
      </p>
    <% end %>
    <% if can?(:delete, @goal) %>
      <p>
        <%= link_to('Delete', 
          goal_path(@goal),
          method: :delete,
          data: {
            confirm: "Are you sure?"
          }
        ) %>
      </p>
    <% end %>
  <% end %>
  <!-- LINK to NEW reward if no reward - link to reward if Reward set up-->
  <%= link_to 'Rewards', goal_reward_path(@goal, @reward) %>
</div>


<div>
  <%#= line_chart @goal.transactions.group_by_month(:created_at).sum(:amount), prefix: "$", ytitle: "Amount" %>
  <% @sum = 0 %>
  <%= line_chart @goal.transactions.group_by_month('transactions.created_at').sum(:amount).map { |x,y| { x => (@sum += y)} }.reduce({}, :merge) %>
</div>

<div class="container mt-5">
  <h2 class="mb-5">Streams of $$</h2>

  <%= simple_form_for [@goal, @transaction] do |f| %>
    <%= f.submit class:"btn btn-primary col-auto mb-3" %>
  <div class="form-row">
    <div class="col-4">
      <%= f.input :title, placeholder: "What did you save on?", label: false %>
    </div>
    <div class="col-4">
      <%= f.input :amount, placeholder: "How much?", label: false %>
    </div>
    <div class="col-auto">
      <%= f.input :created_at, as: :date, html5: true, label: false %>
    </div>
  </div>
  <% end %>

  <section class="transaction-list mt-5">
    <table class="table table-borderless">
      <tbody>
        <% @transactions.each do |transaction| %>
        <tr>
          <th scope="row"></th>
            <td >
              <%= transaction.title %>
            </td>  
            <td>
              <%= transaction.amount %> 
            </td>
            <td>
              <%= transaction.created_at.strftime("%B %d, %Y") %>
            </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>

